/* mpp - mobile push  */
/* wpp - web push  */
/* ep - email push  */
/* dp - main page  */
/* pp - price page  */
/* iap - in app page  */
/* aup  - about us */
:root {
    --light-font: "Poppins-Light";
    --regular-font: "Poppins-Regular";
    --medium-font: "Poppins-Medium";
    --semibold-font: "Poppins-SemiBold";
    --bold-font: "Poppins-Bold";
    --link-color: rgba(68, 221, 255, 1);
    --title-font-size: 64px;
    --block-title-font-size: 36px;
    --subtitle-font-size: 24px;
    --pink: rgba(234, 39, 195, 1);
    --pink-border: 2px solid rgba(234, 39, 195, 0.5);
    --small-font-size: 16px;
    --button-border-radius: 22px;
    --gap: 64px;
}

body {
    font-family: "Rubik", sans-serif;
    position: relative;
    width: 100%;
    background-color: #0a1b34;
    color: white;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

header {
    padding: 2.2% 12.71% 0;
}

.left-corner {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 25%;
    height: 25%;
    background: linear-gradient(180deg, #EA27C3 0%, #EEFF01 100%);
    filter: blur(250px);
    transform: rotate(-70.38deg);
}

.right-corner {
    position: fixed;
    right: 0;
    top: 0;
    width: 25%;
    height: 25%;
    background: linear-gradient(180deg, #EA27C3 0%, #EEFF01 100%);
    filter: blur(250px);
    transform: rotate(-70.38deg);
}

.logo img {
    width: 100%;
}

.form-check-input {
    cursor: pointer;
    height: 18px;
    width: 18px;
    margin-top: .25em;
    vertical-align: top;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: 2px solid yellow;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
}

.form-check-input-lg {
    width: 28px;
    height: 28px;
}

.form-check-label-lg {
    display: inline-block !important;
    font-size: 18px !important;
    line-height: 38px !important;
}

.form-check-input[type=checkbox]:hover {
    border: 3px solid yellow;
    border-radius: 5px;
}

.form-check-input[type=checkbox] {
    border-radius: .25em;
}

.form-check-input:checked {
    border-color: white;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='yellow' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e")
}

.form-control label {
    display: block;
}

.form-control-lg label {
    font-family: var(--light-font);
    line-height: 48px;
    font-size: 18px;
}

.form-control-lg {
    font-size: 50%;
    margin-top: 24px;
}

.input-lg {
    width: 100%;
    border: 2px solid #eeff01;
    font-size: 18px;
    padding: 0 10px;
    height: 50px;
    border-radius: 5px;
    background-color: transparent;
}

.input-rounded {
    border-radius: 20px !important;
}

.btn {
    border: var(--pink-border);
    font-family: var(--regular-font);
    background: #ea27c3;
    min-width: 100px;
    text-align: center;
    color: #eee;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    border: 0;
    font-size: 14px;
    display: inline-block;
}

.btn-lg {
    font-size: 12px;
    min-width: 100px;
    border: 0;
    padding: 10px;
    border-radius: 20px;
}

@media (min-width: 575px) {

    .btn-lg {
        font-size: 20px;
        padding: 1rem;
    }

}

.btn-block {
    display: block;
    width: 100%;
}

.btn-auth {
    max-width: 100%;
    padding: 0.8rem;
    margin: 64px auto auto;
}

@media (min-width: 575px) {

    .btn-auth {
        padding: 1rem;
        max-width: 200px;
    }

}

.logo {
    max-width: 25rem;
    margin: 25px auto;
    width: 100%;
}

@media (min-width: 576px) {

    .logo {
        margin: 50px auto;
    }

}

@media (min-width: 992px) {

    .logo {
        margin: 100px auto;
    }

}

html {
    margin: 0 auto;
    box-sizing: border-box;
}

@font-face {
    font-family: "Rubik", sans-serif;
    src: url("../font/Rubik/static/Rubik-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "Rubik", sans-serif;
    src: url("../font/Rubik/static/Rubik-Light.ttf");
    font-weight: 300;
}

@font-face {
    font-family: "Rubik", sans-serif;
    src: url("../font/Rubik/static/Rubik-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Rubik", sans-serif;
    src: url("../font/Rubik/static/Rubik-Medium.ttf");
    font-weight: 500;
}

@font-face {
    font-family: "Poppins-Bold";
    src: url("../font/Poppins-Bold.ttf") format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: "Poppins-Light";
    src: url("../font/Poppins-Light.ttf") format("truetype");
    font-weight: 300;
}

@font-face {
    font-family: "Poppins-Regular";
    src: url("../font/Poppins-Regular.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "Poppins-Medium";
    src: url("../font/Poppins-Medium.ttf") format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: "Poppins-SemiBold";
    src: url("../font/Poppins-SemiBold.ttf") format("truetype");
    font-weight: 600;
}

/* rewrite  default props of tag> */
a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

input::placeholder {
    color: white;
}

.block {
    padding: 0 12.71%;
    background-color: #0a1b34;
    z-index: 3;
    background-repeat: no-repeat;
    background-size: cover;
}


.navbar {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar-nav {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 10px;
    font-size: var(--small-font-size);
}

.burger {
    align-self: center;
    width: 22px;
    height: 14px;
    cursor: pointer;
    position: relative;
}

.burger span {
    background: #eeff01;
    height: 2px;
    width: 22px;
    margin-bottom: 4px;
    display: block;
    transition: all .5s ease-in-out;
}

.navbar-logo > img {
    width: 100%;
}

.dropdown-submenu {
    font-family: var(--light-font);
}

.navbar-link,
.dropdown-submenu li:nth-of-type(1) {
    font-family: var(--regular-font);
}

.navbar-item {
    cursor: pointer;
    position: relative;
    justify-content: center;
    align-content: center;
    padding: 20px 0;
}

.navbar-item > a > img {
    padding-left: 10px;
}

.navbar-item:hover > .dropdown-menu {
    display: flex;
    width: 33.96vw;
    transform: translateX(-80px);
    padding: 26px 31px 45px;
    position: absolute;
    box-sizing: border-box;
    margin-top: 20px;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(10, 27, 52, 0.95);
    -webkit-box-shadow: 1px 3px 13px 7px rgba(68, 221, 255, 0.32);
    box-shadow: 1px 3px 13px 7px rgba(68, 221, 255, 0.32);
    border-radius: 5px;
    border: 2px solid rgba(68, 221, 255, 0.7);
    font-size: 75%;
}

.navbar-item:hover .dropdown-menu-vertical {
    width: 14.43vw;
    flex-direction: column;
    padding: 30px 20px;
    right: initial;
    -webkit-box-shadow: 1px 3px 13px 7px rgb(68 221 255 / 32%);
    box-shadow: 1px 3px 13px 7px rgb(68 221 255 / 32%);
}

.dropdown-menu {
    z-index: 5;
    display: none;
}

.navbar-item:hover > .dropdown-menu > .dropdown-triangle {
    position: absolute;
    height: 40px;
    transform: translate(5vw, -66px);
    z-index: -1;
    transition: all 0.6s ease-in-out;
}

.dropdown-submenu li {
    font-size: 1.75vmin;
    padding: 1.3vmin;
}

.dropdown-submenu li + li > a:hover {
    color: var(--link-color);
    text-decoration: underline;
    transition: all 0.3s ease-in-out;
}

.dropdown-divider {
    width: 0;
    border: 2px solid #eeff01;
    margin: 5% 0;
    box-shadow: -2px 0px 28px 2px rgba(238, 255, 1, 0.67);
    -webkit-box-shadow: -2px 0px 28px 2px rgba(238, 255, 1, 0.67);
    -moz-box-shadow: -2px 0px 28px 2px rgba(238, 255, 1, 0.67);
}

.dropdown-divider-horizontal {
    border: 2px solid #eeff01;
    box-shadow: -2px 0px 28px 2px rgb(238 255 1 / 67%);
    -webkit-box-shadow: -2px 0px 28px 2px rgb(238 255 1 / 67%);
    -moz-box-shadow: -2px 0px 28px 2px rgba(238, 255, 1, 0.67);
    width: 40%;
    margin: 13px;
    padding-left: 30px;
}

img {
    pointer-events: none;
}

.transparent {
    opacity: 0;
    z-index: -1;
}

.invalid-feedback {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 1.75em;
    color: #dc3545;
}

.semibold-font {
    font-family: var(--semibold-font);
}

.light-font {
    font-family: var(--light-font);
    font-weight: 300;
}

.description-card {
    height: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    width: 100%;
    box-sizing: border-box;
    background: linear-gradient(98.48deg, rgba(12, 28, 46, 0.8) 30.47%, rgba(234, 39, 195, 0.8) 154.55%);
    border-radius: var(--button-border-radius);
    padding: 97px 10px 35px 20px;
    font-size: 20px;
}

.description-card-head {
    font-family: "Poppins-Medium";
    line-height: 30px;
}

.description-card-body {
    font-size: 20px;
    font-family: var(--light-font);
}

.advantage-card {
    display: flex;
    gap: 12px;
    flex-direction: column;
    z-index: 2;
}

.advantage-card-head {
    font-family: "Poppins-Medium";
    line-height: 30px;
}

.advantage-card-body {
    font-size: 20px;
    font-family: var(--light-font);
}

@media (min-width: 1200px) {
    .mb-xl-6 {
        margin-bottom: 5rem !important;
    }
}

.block-image {
    width: 100%;
}

.gap-0 {
    gap: 0 !important;
}

.gap-1 {
    gap: 0.25rem !important;
}

.gap-2 {
    gap: 0.5rem !important;
}

.gap-3 {
    gap: 1rem !important;
}

.gap-4 {
    gap: 1.5rem !important;
}

.gap-5 {
    gap: 3rem !important;
}

.display-1 {
    font-size: calc(1.625rem + 4.5vw);
    font-weight: 300;
    line-height: 1.2;
}

@media (min-width: 1200px) {
    .display-1 {
        font-size: 5rem;
    }
}

.display-2 {
    font-size: calc(1.575rem + 3.9vw);
    font-weight: 300;
    line-height: 1.2;
}

@media (min-width: 1200px) {
    .display-2 {
        font-size: 4.5rem;
    }
}

.display-3 {
    font-size: calc(1.525rem + 3.3vw);
    font-weight: 300;
    line-height: 1.2;
}

@media (min-width: 1200px) {
    .display-3 {
        font-size: 4rem;
    }
}

.display-4 {
    font-size: calc(1.475rem + 2.7vw);
    font-weight: 300;
    line-height: 1.2;
}

@media (min-width: 1200px) {
    .display-4 {
        font-size: 3.5rem;
    }
}

.display-5 {
    font-size: calc(1.425rem + 2.1vw);
    font-weight: 300;
    line-height: 1.2;
}

@media (min-width: 1200px) {
    .display-5 {
        font-size: 3rem;
    }
}

.display-6 {
    font-size: calc(1.375rem + 1.5vw);
    font-weight: 300;
    line-height: 1.2;
}

@media (min-width: 1200px) {
    .display-6 {
        font-size: 2.5rem;
    }
}

.btn-outline {
    background-color: transparent;
    border: var(--pink-border);
    transition: all 0.3s ease-in-out;
}

.btn-outline:hover {
    background-color: var(--pink);
}

.btn-yellow {
    border: 2px solid #eeff01;
    background: #eeff01;
    color: black;
    transition: all 0.3s ease-in-out;
}

.btn-yellow:hover {
    background: transparent;
    border: 2px solid #eeff01;
    color: white;
}

.text-align-center {
    text-align: center;
}

.text-align-start {
    text-align: start;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.integrations-list {
    display: flex;
    flex-direction: column;
    row-gap: 36px;
}

.links-list {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    padding-top: 50px;
}

.links-list > .link {
    display: flex;
    gap: 24px;
    align-items: center;
    font-size: var(--small-font-size);
    color: var(--link-color);
    transition: all 0.3s ease-in-out;
}

.links-list > .link:hover {
    transform: translateX(10px);
    filter: brightness(0.9);
    transition: all 0.3s ease-in-out;
}

.developer-image {
    text-align: end;
}

.btn-yellow-outline {
    background: transparent;
    font-size: 20px;
    border: 2px solid yellow;
    transition: all 140ms ease-in-out;
}

.btn-yellow-outline:hover {
    background-color: #eeff01;
    color: black;
}

.block-footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 80px;
    padding-top: 65px;
}

.block-footer > .footer-description {
    font-size: 20px;
    margin: 0;
    color: var(--link-color);
}

.image-card {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    height: 100%;
    cursor: pointer;
    border-left: 2px solid #EEFF01;
    border-bottom: 2px solid #EEFF01;
    border-radius: 22px;
}

.footer-container {
    background-color: #0A1B34;
    padding: 140px;
}

.footer-col {
    font-family: var(--light-font);
    display: flex;
    flex-direction: column;
    gap: 24px;
    line-height: 24px;
}

.text-turquoise {
    font-family: var(--light-font) !important;
    color: var(--link-color) !important;
}

.text-decoration-underline {
    text-decoration: underline !important
}

.image-card:hover > .image-card-header img {
    filter: brightness(0.6);
}

.image-card:hover > .image-card-content {
    background-color: yellow;
    color: black;
}

.image-card .image-card-content {
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
    width: 100%;
    height: 100%;
    align-self: center;
    justify-self: flex-end;
    padding: 0 38px 0;
    transition: all 0.2s ease-in-out;
}

.image-card .image-card-header {
    height: 100%;
    z-index: 10;
    margin-left: 40px;
    position: relative;
    bottom: 20px;
    transition: all 0.2s ease-in-out;
}

.image-card .image-card-header img {
    object-fit: cover;
    width: 100%;
    border-radius: var(--button-border-radius);
}

.image-card .image-card-content .title {
    font-family: "Poppins-Medium";
    line-height: 30px;
}

.image-card .image-card-content .description {
    font-size: 20px;
    font-family: var(--light-font);
}

@media (min-width: 576px) {
    .gap-sm-0 {
        gap: 0 !important;
    }

    .gap-sm-1 {
        gap: 0.25rem !important;
    }

    .gap-sm-2 {
        gap: 0.5rem !important;
    }

    .gap-sm-3 {
        gap: 1rem !important;
    }

    .gap-sm-4 {
        gap: 1.5rem !important;
    }

    .gap-sm-5 {
        gap: 3rem !important;
    }
}

@media (min-width: 768px) {

    .gap-md-0 {
        gap: 0 !important;
    }

    .gap-md-1 {
        gap: 0.25rem !important;
    }

    .gap-md-2 {
        gap: 0.5rem !important;
    }

    .gap-md-3 {
        gap: 1rem !important;
    }

    .gap-md-4 {
        gap: 1.5rem !important;
    }

    .gap-md-5 {
        gap: 3rem !important;
    }

}

@media (min-width: 992px) {
    .gap-lg-0 {
        gap: 0 !important;
    }

    .gap-lg-1 {
        gap: 0.25rem !important;
    }

    .gap-lg-2 {
        gap: 0.5rem !important;
    }

    .gap-lg-3 {
        gap: 1rem !important;
    }

    .gap-lg-4 {
        gap: 1.5rem !important;
    }

    .gap-lg-5 {
        gap: 3rem !important;
    }
}

@media (min-width: 1400px) {
    .gap-xxl-0 {
        gap: 0 !important;
    }

    .gap-xxl-1 {
        gap: 0.25rem !important;
    }

    .gap-xxl-2 {
        gap: 0.5rem !important;
    }

    .gap-xxl-3 {
        gap: 1rem !important;
    }

    .gap-xxl-4 {
        gap: 1.5rem !important;
    }

    .gap-xxl-5 {
        gap: 3rem !important;
    }
}

@media (max-width: 1200px) {
    .image-cards-wrapper {
        row-gap: 30px;
    }
}

.block-title {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    font-family: var(--bold-font);
}

.block-subtitle {
    font-family: var(--regular-font);
    font-size: 14px;
    text-align: center;
}

@media (min-width: 576px) {

    .block-title {
        text-align: initial;
        font-size: 40px;
    }

    .block-subtitle {
        text-align: initial;
        font-size: 26px;
    }

}

@media (min-width: 768px) {
    .block-title {
        font-size: 50px;
    }

}

@media (min-width: 992px) {
    .block-title {
        font-size: 60px;
    }

}

@media (min-width: 1200px) {
    .block-title {
        font-size: 4.5rem;
        line-height: 120px;
    }

    .block-subtitle {
        font-size: 1.5em;
        line-height: 36px;
        width: 80%;
    }

    .max-xl-380 {
        max-width: 380px;
    }

}
