body {
    overflow-x: hidden;
}
#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
}
#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}
#sidebar-wrapper .list-group {
    width: 15rem;
}
#page-content-wrapper {
    min-width: 100vw;
}
#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}
@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }
    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }
    #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }
}

.errors-list{
    margin-bottom: 0;
}

.two-factor-page{
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.two-factor-form{
    position: relative;
    margin-top: 30%;
}

.radio-image > input {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.radio-image > input:checked + img {
    color: rgb(5, 27, 44);
    background-color: rgb(229, 242, 252);
    border-color: rgb(31, 143, 235);
}

.radio-image > input + img {
    --button-radius: 4px;
    display: flex;
    -moz-box-pack: center;
    justify-content: center;
    -moz-box-align: center;
    align-items: center;
    flex-direction: column;
    transition: all 0.1s ease-in 0s;
    height: 10.75rem;
    cursor: pointer;
    padding: 0.5rem;
    color: rgb(66, 77, 87);
    background-color: rgb(255, 255, 255);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(203, 209, 215);
    border-radius: var(--button-radius);
}

.radio-image > input + img:hover {
    border-color: rgb(31, 143, 235);
    background-color: rgb(229, 242, 252);
}

.action-icon{
    font-size: 150%;
    cursor: pointer;
}

.filter-type {
    background: rgb(246, 247, 248);
    border-radius: 0.3rem;
    padding: 15px 10px;
    justify-content: space-between;
    display: flex;
}

.non-underline{
    text-decoration: none;
}

.filter {
    margin: 10px 0;
    border-radius: 5px;
    background-color: #F6F7F8;
    display: flex;
    justify-content: space-between;
    padding: 15px 10px;
}

.filter-title {
    margin: auto 0;
}

.filter-values {
    display: flex;
    gap: 20px;
}

ion-icon{
    visibility: visible !important;
}

.filter-group{
    margin-bottom: 30px;
}
