body {
    overflow-x: hidden;
}
#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
}
#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}
#sidebar-wrapper .list-group {
    width: 15rem;
}
#page-content-wrapper {
    min-width: 100vw;
}
#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}
@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }
    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }
    #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }
}

.errors-list{
    margin-bottom: 0;
}

.two-factor-page{
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.two-factor-form{
    position: relative;
    margin-top: 30%;
}

.radio-image > input {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.radio-image > input:checked + img {
    color: rgb(5, 27, 44);
    background-color: rgb(229, 242, 252);
    border-color: rgb(31, 143, 235);
}

.radio-image > input + img {
    --button-radius: 4px;
    display: flex;
    -moz-box-pack: center;
    justify-content: center;
    -moz-box-align: center;
    align-items: center;
    flex-direction: column;
    transition: all 0.1s ease-in 0s;
    height: 10.75rem;
    cursor: pointer;
    padding: 0.5rem;
    color: rgb(66, 77, 87);
    background-color: rgb(255, 255, 255);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(203, 209, 215);
    border-radius: var(--button-radius);
}

.radio-image > input + img:hover {
    border-color: rgb(31, 143, 235);
    background-color: rgb(229, 242, 252);
}

.action-icon{
    font-size: 150%;
    cursor: pointer;
}

.filter-type {
    background: rgb(246, 247, 248);
    border-radius: 0.3rem;
    padding: 15px 10px;
    justify-content: space-between;
    display: flex;
}

.non-underline{
    text-decoration: none;
}

.filter {
    margin: 10px 0;
    border-radius: 5px;
    background-color: #F6F7F8;
    display: flex;
    justify-content: space-between;
    padding: 15px 10px;
}

.filter-title {
    margin: auto 0;
}

.filter-values {
    display: flex;
    gap: 20px;
}

ion-icon{
    visibility: visible !important;
}

.filter-group{
    margin-bottom: 30px;
}

.language-wrapper{
    column-count: 4;
}

@media (max-width: 925px) {

    .language-wrapper{
        column-count: 3;
    }

}

@media (max-width: 675px) {

    .language-wrapper{
        column-count: 2;
    }

}

@media (max-width: 450px) {

    .language-wrapper{
        column-count: 1;
    }

}

.modal-dialog{
    max-width: 100%;
    width: 90%;
    margin: auto;
}

.translate-form{
    display: none;
}

.image-wrapper {
    position: relative;
    display: inline-block;
    font-size: 0;
}

.delete-image-icon {
    position: absolute;
    top: 15px;
    right: 8px;
    z-index: 100;
    padding: 5px 2px 2px;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
    line-height: 10px;
    border-radius: 3px;
    background-color: white;
}

.form-sm .form-group{
    display: inline-block;
}

.d-flex.filters-wrapper{
    align-items: end;
    gap: 10px;
    flex-wrap: wrap;
}

.filters-wrapper .tokens-container{
    margin-bottom: 0 !important;
    min-width: 162px;
}

.tokenize > .tokens-container {
    position: relative;
    list-style: none;
    padding: 0 0 5px 5px;
    height: auto;
    min-height: 34px;
    cursor: text;
}

.tokenize > .tokens-container.disabled {
    background-color: #eee;
    cursor: not-allowed;
}

.tokenize.focus > .tokens-container {
    outline: 0;
    border-color: #66afe9;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}

.tokenize > .tokens-container.input-sm {
    padding: 0 0 4px 4px;
    min-height: 30px;
}

.tokenize > .tokens-container.input-lg {
    padding: 0 0 9px 9px;
    min-height: 46px;
}

.tokenize > .tokens-container > .token {
    padding: 0 1.2em 0 5px;
    background-color: #eff2f7;
    -webkit-border-radius: 2px;
       -moz-border-radius: 2px;
            border-radius: 2px;
}

.tokenize > .tokens-container > .token,
.tokenize > .tokens-container > .placeholder,
.tokenize > .tokens-container > .token-search {
    border: 1px solid #cdd5e3;
    display: inline-block;
    margin: 5px 5px 0 0;
    position: relative;
    vertical-align: middle;
}

.tokenize > .tokens-container > .token-search {
    min-width: 10px;
}

.tokenize.sortable > .tokens-container > .token {
    cursor: move;
}

.tokenize.sortable > .tokens-container > .token.dragged {
    position: absolute;
    z-index: 2000;
}

.tokenize.single > .tokens-container > .token {
    display: block;
    border-color: #fff;
    background-color: transparent;
}

.tokenize.sortable > .tokens-container > .token.shadow {
    border-color: #ccc;
    background-color: #ccc;
    filter: alpha(opacity=50);
    opacity: .2;
}

.tokenize > .tokens-container > .placeholder,
.tokenize > .tokens-container > .token-search {
    padding: 0;
    border-color: #fff;
}
.tokenize > .tokens-container > .placeholder {
    color: #ccc;
}

.tokenize > .tokens-container > .token-search > input {
    padding: 0;
    margin: 0;
    line-height: 1em;
    border: 1px solid #fff;
    background: transparent;
    border-left: none;
    border-right: none;
    outline: none;
    width: 100%;
}

.tokenize > .tokens-container > .token-search > input::-ms-clear {
    display: none;
}

.tokenize > .tokens-container.input-sm > .placeholder,
.tokenize > .tokens-container.input-sm > .token-search,
.tokenize > .tokens-container.input-sm > .token {
    margin: 4px 4px 0 0;
}

.tokenize > .tokens-container.input-lg > .placeholder,
.tokenize > .tokens-container.input-lg > .token-search,
.tokenize > .tokens-container.input-lg > .token {
    margin: 9px 9px 0 0;
}

.tokenize > .tokens-container > .token.pending-delete {
    background-color: #5b72a4;
    border-color: #425c96;
    color: #fff
}

.tokenize > .tokens-container > .token > .dismiss {
    position: absolute;
    right: 5px;
    color: #a9b9d8;
    text-decoration: none;
    cursor: pointer;
}

.tokenize > .tokens-container > .token > .dismiss:after {
    content: "×";
}

.tokenize > .tokens-container > .token.pending-delete > .dismiss {
    color: #aaa;
}

.tokenize-dropdown {
    position: absolute;
    display: none;
}

.tokenize-dropdown > .dropdown-menu {
    min-height: 10px;
    width: 100%;
    display: block;
    margin: -1px 0 0 0;
    visibility: visible;
    opacity: 1;
    max-height: 200px !important;
    overflow: auto;
}

.tokenize-dropdown > .dropdown-menu li {
    cursor: pointer;
}

.tokenize-dropdown > .dropdown-menu li > a .tokenize-highlight {
    font-weight: bold;
}

.tokenize-dropdown > .dropdown-menu li.locked {
    padding: 3px 20px;
    color: #333;
    white-space: nowrap;
}

.tokenize-dropdown > .dropdown-menu li.locked,
.tokenize-dropdown > .dropdown-menu li > a {
    text-overflow: ellipsis;
    overflow-x: hidden;
}

.tokenize-dropdown > .dropdown-menu li:not(.active) a:hover,
.tokenize-dropdown > .dropdown-menu li:not(.active) a:focus {
    background-color: transparent;
}